{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h2>Добавить комнату</h2>
<form method="post">
    {% csrf_token %}
    <label>Номер:</label><br>
    <input type="number" name="room_number" required><br>
    <label>Тип:</label><br>
    <input type="text" name="room_type"><br>
    <label>Цена за ночь:</label><br>
    <input type="number" name="price_per_night"><br>
    <label>Статус:</label><br>
    <input type="text" name="status" required><br><br>
    <button type="submit">Добавить</button>
</form>
<a href="{% url 'home' %}">Назад</a>
