{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h2>Добавить расписание</h2>
<form method="post">
    {% csrf_token %}
    Танцор:
    <select name="dancer_id">
        {% for dancer in dancers %}
            <option value="{{ dancer.id }}">{{ dancer.first_name }} {{ dancer.last_name }}</option>
        {% endfor %}
    </select><br>
    Группа:
    <select name="group_id">
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.group_name }} ({{ group.dance_style }})</option>
        {% endfor %}
    </select><br>
    Дата: <input type="date" name="session_date"><br>
    Время начала: <input type="time" name="start_time"><br>
    Время окончания: <input type="time" name="end_time"><br>
    <button type="submit">Добавить</button>
</form>
<a href="{% url 'home' %}">Назад</a>
