{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>Управление танцами</h1>
<a href="{% url 'add_dancer' %}">Добавить танцора</a><br>
<a href="{% url 'view_dancers' %}">Просмотреть танцоров</a><br>
<a href="{% url 'add_group' %}">Добавить группу</a><br>
<a href="{% url 'view_groups' %}">Просмотреть группы</a><br>
<a href="{% url 'add_schedule' %}">Добавить расписание</a><br>
<a href="{% url 'view_schedule' %}">Просмотреть расписание</a><br>
<a href="{% url 'show_tables' %}">Отобразить все таблицы</a>
