<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Содержимое таблиц</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Танцоры</h1>
    <ul>
        {% for dancer in dancers %}
        <li>{{ dancer.first_name }} {{ dancer.last_name }} (Возраст: {{ dancer.age }})</li>
        {% endfor %}
    </ul>

    <h1>Группы</h1>
    <ul>
        {% for group in groups %}
        <li>Группа: {{ group.group_name }}, Стиль: {{ group.dance_style }}</li>
        {% endfor %}
    </ul>

    <h1>Расписание</h1>
    <ul>
        {% for schedule in schedules %}
        <li>Танцор: {{ schedule.dancer.first_name }} {{ schedule.dancer.last_name }}, Группа: {{ schedule.group.group_name }},
            Дата: {{ schedule.session_date }}, Время: {{ schedule.start_time }} - {{ schedule.end_time }}</li>
        {% endfor %}
    </ul>

    <a href="/export/">Экспортировать в XML</a><br>
    <a href="/import/">Импортировать из XML</a>
</body>
</html>
