{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h2>Список номеров</h2>
<ul>
    {% for room in rooms %}
        <li>
            <form method="post" action="{% url 'edit_room' room.id %}">
                {% csrf_token %}
                Номер: <input type="number" name="room_number" value="{{ room.room_number }}" readonly>
                Тип: <input type="text" name="room_type" value="{{ room.room_type }}">
                Цена: <input type="number" step="0.01" name="price_per_night" value="{{ room.price_per_night }}">
                Статус:
                <select name="status">
                    <option value="свободен" {% if room.status == "свободен" %}selected{% endif %}>Свободен</option>
                    <option value="занят" {% if room.status == "занят" %}selected{% endif %}>Занят</option>
                    <option value="ремонт" {% if room.status == "ремонт" %}selected{% endif %}>Ремонт</option>
                </select>
                <button type="submit">Сохранить</button>
            </form>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}">Назад</a>
