{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h2>Список бронирований</h2>
<ul>
    {% for booking in bookings %}
        <li>
            Гость: {{ booking.guest.first_name }} {{ booking.guest.last_name }},
            Номер: {{ booking.room.room_number }},
            Даты: с {{ booking.check_in_date }} по {{ booking.check_out_date }}
            <a href="{% url 'edit_booking' booking.id %}">Редактировать</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}">Назад</a>